a, a:hover, a:hover acitve{
	text-decoration:none !important;
}

.card_hover:hover{
	transform: scale(1.01);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

.img_circle{
	object-fit:cover;
}

.card_rounded{
	border-radius:4px !important;
}
.rounded_left{
	border-top-left-radius:4px !important;
	border-bottom-left-radius:4px !important;
}
